<template>
	<div class="">

		<b-navbar toggleable="md" type="dark" class="cicp-nav" fixed="top">

			<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

			<b-navbar-brand tag="h1">
				<div class="d-flex justify-items-around">
					<img src="static/cicp_logo_white.png" alt="CICP logo" class="ml-4 mr-4" style="height: 60px;" />
					<div class="d-flex flex-column">
						<div>Construction Innovation</div>
						<div>Collaboration Platform</div>
					</div>
				</div>
			</b-navbar-brand>

			<b-collapse is-nav id="nav_collapse">

				<b-navbar-nav class="ml-auto">
					<b-navbar-nav>
						<b-nav-item href="#">Info</b-nav-item>
						<b-nav-item href="#">Log in</b-nav-item>
						<b-nav-item href="#">Sign up</b-nav-item>
					</b-navbar-nav>

				</b-navbar-nav>

			</b-collapse>
		</b-navbar>

		<header class="masthead">

			<div class="container ">
				<div class="row justify-content-center">
					<div class="header-box">
						<h1>CICP</h1>
						<p>Behold the future of construction innovation</p>


						<form class="search form-inline">

							<div class="input-group">

								<div class="input-group-prepend">
									<div class="input-group-text">
										<icon name="search" scale="2"></icon>
									</div>
									<input v-model="searchQuery" type="text" class="form-control search-bar" placeholder="Search">
									<button class="btn btn-primary search-button" @click="search()">Search</button>
								</div>

							</div>




						</form>
					</div>
				</div>
			</div>
		</header>

		<section class="stuff">
			<h1>Stuff</h1>
			{{results}}
		</section>


	</div>
</template>

<script>
	import axios from 'axios';


	export default {
		name: 'CicpHeader',
		data() {
			return {
				searchQuery: '',
				results: {}
			}
		},
		methods: {
			search() {
				axios.post('http://cicp.vxt-research.com/api/v1/search?api_key=obJche1Zp39riJo0SVxUrOqRJtETCW', {
						q: this.searchQuery,
					})
					.then((response) => {
						this.results = response.data;
					})
					.catch((err) => {
						console.log(this.searchQuery, 'Got error', err);
					});
			},
		}
	}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
