.cicp-nav {
	background: #002060;
}


header.masthead {

	height: 100vh;
	/*
	position: relative;
	z-index: 1;*/
	background: linear-gradient( rgba(0, 32, 96, 0.42) 100%, rgba(0, 32, 96, 0.42) 100%), url('/static/bg.jpg');
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.header-box {
		margin-top: 30vh;

	}


	.search-bar {
		width: 40rem;

		border-radius: 0;

		&:focus {
			border-color: none;
			box-shadow: none;
			outline: 0 none;
		}

	}

	.search-button {
		border-radius: 50%;
	}

	h1 {
		color: #FFF;
		font-size: 4rem;
	}

	p {
		color: #FFF;
		font-size: 1.5rem;
	}

	/*
	&:before {

		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient( rgba(0, 32, 96, 0.42) 100%, rgba(0, 32, 96, 0.42)100%), url('/static/bg.jpg');
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		content: '';
		
		//-webkit-filter: opacity(42%);
		//filter: opacity(42%);
		z-index: -1;

	}
*/
}


.stuff {
	height: 100vh;
	
}




body {

	position: relative;

	width: 100%;
	height: 100%;


}

html {
	width: 100%;
	height: 100%;
}
