<template>
	<router-view/>

</template>

<script>
	import Vue from 'vue'
	import BootstrapVue from 'bootstrap-vue'
	import 'vue-awesome/icons'
	import Icon from 'vue-awesome/components/Icon'


	Vue.use(BootstrapVue);
	Vue.component('icon', Icon);

	
	export default {
		name: 'App'
	}

</script>

<style lang="scss">
	@import '../node_modules/bootstrap/scss/bootstrap.scss';
	@import '../static/style.scss'

</style>
